::selection { background: #7859 }
* { cursor: url(cursors/arrow.gif), auto }
h1 { margin-top: 0 }
a, .x8831 {
	color: #ab8;
	text-decoration-style: dotted;
	cursor: url(cursors/cross.gif), auto;
}
em {
	color: #aaa;
	font-style: normal;
}
blockquote p { display: inline; }
blockquote {
	border-left: 0.3em solid #555;
	margin: 0em;
	padding: 0 5px;
	color: #bbb;
}
summary {
	color: #ab8;
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: url(cursors/cross.gif), auto;
}
img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
	max-width: 100%;
}

@font-face {
	font-family: txl;
	src: url(ToshibaTxL2.woff);
	font-weight: normal;
}
@font-face {
	font-family: txl;
	src: url(ToshibaTxL1.woff);
	font-weight: bold;
}

body {
	margin: 0;
	color: #fff;
	background-image: url(ph.png);
	background-repeat: repeat;
	font-family: txl, serif, monospace;
	font-size: 16px;
	line-height: 1.3;
}

.outpad { padding: 0.5em }
.topbar, .block, .iblock {
	background: #000;
	color: #fff;
	border: 0.2em dotted #fff;
	margin: 0.5em;
	padding: 0.5em;
	display: block;
	max-width: 70em;
}
.topbar, .iblock { display: inline-block }
.topbar a {
	color: inherit;
	text-decoration: none;
}
.topbar a:hover {
	color: #ab8;
	text-decoration: underline;
	text-decoration-style: dotted;
}

code {
	font-family: inherit;
	font-weight: bold;
	border: 1px dashed #888;
	display: inline-block;
}
.cb-code {
	font-family: txl;
	border: none;
}
.cb-pre {
	border: 2px solid #555;
	padding: 0.5em;
	overflow-x: auto;
}

